body {
    background: #242323dc;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Verdana;
  }
  
  h1 {
      text-align: center;
    color: #888888;
  }
  
  p {
    color: #666666;
  }
  
  #wrapper {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  #thumbnails {
    position: relative;
    display: block;
    display:flex;
    flex-wrap:wrap;
  
  }
  
  #bigimage {
    height: 300px;
    width: 100%;
    object-fit:cover;
    box-shadow: 2px 2px 2px gray;
    border-radius: 5px;
  }
  
  .thumb {
    flex:1;
    margin: 5px;
    height: 100px;
    width: 100px;
    display: block;
    cursor: pointer;
    object-fit:cover;
    border-radius: 5px;
    gap: 5px;
  }
  
  @keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

#thumbnails {
animation: drop 2000ms ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
}

.nav-logo {
    height: 80px;
    width: 90px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}


footer {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
}
